@charset "UTF-8";
/* CSS Document */

* {font-size:1px;
background-color:red !important}
.mobile {
	display:none !important}
	
.container-fluid{
			background-color:black !Important}
.navbar-header{
		background-color:black !Important}
		
	.navbar_lower .nav{
		width:100% !important;
		} 
		.navbar_lower .navbar-nav li{
			background:green !important;
			width:20%
			}
			
			
		.navbar_lower .navbar-nav li a:hover{
			background-color:#060 !important;
			}
			
	.navbar_lower .navbar-nav .active a{
		background-color:#060 !important;
		}

					.navbar_lower .navbar-nav li li{
			width:100% !important;
					background-color:#ccc !important;
}